<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %></small>
    </h2>
		<div class="btn group">
			<a class="btn btn-default btn-primary btn-sm" href="<%= link.url %>">Visit Link</a>

			<%= link_to vote_link_path(link), method: :post, data: { remote: true  }, class: "btn btn-secondary btn-sm upvote-link" do %>
			  <%= octicon "thumbsup" %>
        <span class="upvotes-count"><%= link.get_likes.size %></span>
			<% end %>
			<%= link_to vote_link_path(link), method: :delete, data: { remote: true }, class: "btn btn-secondary btn-sm downvote-link", rel: "nofollow" do %>
				<%= octicon "thumbsdown" %>
			  <span class="downvotes-count"><%= link.get_downvotes.size %></span>
			<% end %>
		</div>
  </div>
<% end %>